* {
    margin: 0;
    padding: 0px;
}

body {
    background-color: rgba(73,93,109,1);
    color: rgb(230, 228, 228);
    font-family: sans-serif;
}

header {
    width: 100%;
}

.contenedor {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
}


/*-------NAVBAR---------------------------*/
.menu ul {
    background-color: #e9183b;
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    padding: 0px;
    list-style: none;
}

.menu ul li a:hover {
    background: #d11534;
    border-radius: 3px;
}

.menu a {
    color: white;
    font-weight: 400;
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

[aria-controls="menu-list"] {
    display: none;
}

.titulo-h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 30px;
    text-shadow: 2px 2px #000000;
}

.titulo {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin: auto;
    text-shadow: 2px 2px #000000;
}

.contenedor-peliculas {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: rgb(235, 52, 32) solid 1px;
}

.card {
    width: 300px;
    color: #000;
    height: 600px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    padding-bottom: 20px;
    text-align: center;
    transition: all 0.25s;
}

.card:hover {
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 400px;
}

.card h4 {
    font-weight: 600;
    margin: 10px;
}

.card p {
    padding: 0 1rem;
    font-weight: 300;
    margin: 10px;
}

.card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.card a:hover {
    text-decoration: underline  ;
}

/*--------Card personajes---------------------------*/

.contenedor-personajes {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: rgb(235, 52, 32) solid 1px;
}

    .contenedor-personajes .card {
    width: 300px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
} 

.contenedor-personajes .card img {
    width: 300px;
    height: 400px;
}

.contenedor-personajes .card h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

/*------------Escenas favoritas-----------------------------*/

.contenedor-escenas {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

/*---------Musica favorita---------------------------*/

.contenedor-musica {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

/*---------------Contacto-----------------------------*/

.contenedor-contacto {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.contacto {
    text-align: center;
    padding: 20px;
    background: rgba(214, 17, 17, 0.835);
    box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.contacto h3 {
    margin: 20px;
    color: white;
    font-size: 30px;
}

.contacto input,
textarea
 {
    display: block;
    width: 500px;
    margin: auto auto 10px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}


button {
    font-size: 20px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: none;
}

button:hover {
    background: rgb(224, 223, 223);
    cursor: pointer;
}

input:hover {
    background: rgb(224, 223, 223);
}

textarea:hover {
    background: rgb(224, 223, 223);
}

/*-------FOOTER------------------------------*/
.footer {
    margin: auto;
    width: 100vw;
    color: white;
    text-align: center;
}
.footer h3,
a, i, h4 {
    margin: 10px;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-twitter:hover {
    color: #1da0f2b7;
}
.fa-facebook {
    color: #3b5998;
}

.fa-facebook:hover {
    color: #3b5898ca;
}
.fa-instagram {
    color:#c13584
}

.fa-instagram:hover {
    color:#c13584d3
}
.fa-youtube {
    color: #c4302b;
}

.fa-youtube:hover {
    color: #c4302bd5;
}

@media (max-width: 1000px) {

    .contenedor-peliculas,
    .contenedor-personajes {
        display: grid;
        grid-template-columns: 300px, 2fr;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 300px;
    }

    .card img {
        width: 100%;
        height: 450px;
    }

    .contenedor-personajes .card {
        width: 500px;
        height: 450px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
    } 

    .contenedor-personajes .card img {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .menu {
        order: -1;
        perspective: 800px;
    }

    .menu button {
        background-color: #e9183b;
        color: white;
    }
    [aria-controls="menu-list"] {
        display: block;
        margin-bottom: 10px;
    }

    .menu ul {
        max-height: 0px;
        overflow: hidden;
        transform: rotateX(90deg);
        transition: all 0.5s;
    }

    [aria-expanded="true"] ~ ul {
        display: grid;
        max-height: 500px;
        transform: rotateX(0);
    }

    [aria-expanded="false"] .close {
        display: none;
    }

    [aria-expanded="true"] .close {
        display: inline-block;
    }

    [aria-expanded="true"] .open {
        display: none;
    }

    .imagen {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .video {
        display: flex;
        margin: auto;
        width: 100%;
        height: 500px;
    }

    .card {
        width: 400px;
        height: 600px;
    }

    .contenedor-personajes .card {
        width: 400px;
        height: 450px;
    } 

    

}